@model Vidly.Models.CustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Add a Customer", "New", "Customer",new{@class="btn btn-primary"})
<table class="tableList">
	<tr>
		<th>Sl no.</th>
		<th>Customers</th>
		<th>Membership</th>
		<th>Duration</th>
		<th>Cost</th>
		<th>Discount %</th>
	</tr>
	@{ int count = 0;}
	@foreach (var customer in Model.Customers)
	{
		<tr>
			<td>@(++count)</td>
			<td>@Html.ActionLink(@customer.Name, "Edit", "Customer", new { @customer.Id }, null)</td>
			<td>@customer.MembershipType.Name</td>
			<td>@GetMonths(customer.MembershipType.DurationInMonths)</td>
			<td>@customer.MembershipType.SignUpFee$</td>
			<td>@customer.MembershipType.DiscountRate%</td>
		</tr>
	}
</table>

@{

	string GetMonths(int id)
	{
		switch (id)
		{
			case 0:
				return "Pay as you go";
				break;
			case 1:
				return $"{id} Month";
				break;
			default: return $"{id} Months";
				break;
		}
	}
}

