@model Vidly.Models.CustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="tableList">
	<tr>
		<th>Sl no.</th>
		<th>Customers</th>
		<th>Membership</th>
		<th>Duration</th>
		<th>Cost</th>
		<th>Discount %</th>
	</tr>
	@{ int count = 0;}
	@foreach (var customer in Model.Customers)
	{
		<tr>
			<td>@(++count)</td>
			<td>@Html.ActionLink(@customer.Name, "Details", "Customer", new { @customer.Id }, null)</td>
			<td>@customer.MembershipType.Name</td>
			<td>@GetMonths(customer.MembershipType.DurationInMonths)</td>
			<td>@customer.MembershipType.SignUpFee$</td>
			<td>@customer.MembershipType.DiscountRate%</td>
		</tr>
	}
</table>

@{

	string GetMonths(int id)
	{
		if (id == 1 || id == 0)
		{
			return $"{id} Month";
		}
		else
		{
			return $"{id} Months";
		}
	}
}

