@model Vidly.Models.CustomerViewModel
@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.BirthDate)
		@Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
	</div>
	<div class="checkbox">
		<label>
			@Html.CheckBoxFor(m => m.IsSubscribeToNewsLetter) Is Subscribed for NewsLetter?
		</label>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.MembershipTypeId)
		@Html.DropDownListFor(m=>m.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Memebership Type", new{@class="form-control"})
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
}

