@using Vidly.MODEL.Models
@model Vidly.Models.MovieViewModel
@{
	ViewBag.Title = @Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm("Save", "Movie", FormMethod.Post))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Movie.Name)
		@Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control", placeholder = "movie name" })
		@Html.ValidationMessageFor(m => m.Movie.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Movie.ReleaseDate)
		@Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control", placeholder = "dd MMM YYYY" })
		@Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
	</div>
	<div class="form-group">
		@Html.LabelFor(m=>m.Movie.Genre)
		@Html.DropDownListFor(m=>m.GenreList, new SelectList(@Model.GenreList,"Name","Name"), "Select Genres", new{@class="form-control"})
	</div>
	<div class="form-group">
		@* @Html.LabelFor(m => m.Movie.Genre) *@
		@Html.TextBoxFor(m => m.Movie.Genre, new { @class = "form-control", placeholder = "action, adventure, comedy" })
		@Html.ValidationMessageFor(m => m.Movie.Genre)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Movie.InStock)
		@Html.TextBoxFor(m => m.Movie.InStock, new { @class = "form-control", placeholder = "currently available" })
		@Html.ValidationMessageFor(m => m.Movie.InStock)
	</div>


	@* 	@Html.HiddenFor(m => m.Movie.Id) *@
	@Html.Hidden("Movie.Id", (Model.Movie != null) ? Model.Movie.Id : 0)
	@Html.HiddenFor(m => m.Movie.AddedDate, new { Value = DateTime.UtcNow })

	@Html.HiddenFor(m => m.Title)
	@Html.HiddenFor(m => m.Heading)

	@Html.AntiForgeryToken()
	<button type="submit" class="btn btn-success btn-block custom-width">Save</button>
}

@section scripts
{
	@* Client Side Validation Enabled *@
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/my-vanilla-js/movie-genre-list.js")
}
